<h1> Item </h1>

<h3> Name: <%= @etl_item.name %></h3>
<h3> Type: <%= @etl_item.item_type %></h3>
<h3> Make: <%= @etl_item.make %></h3>
<h3> Description: <%= @etl_item.description %></h3>
<h3> Image: <img src="<%= @etl_item.image %>"></h3>
<h3> Price: $<%= @etl_item.price %></h3>
<h3> Shipping Period: <%= @etl_item.shipping_period %> days</h3>
<button class="btn btn-info"><a href="<%= @etl_item.id %>/edit">Edit</a></button>

<%= button_to "Delete", "/electronics/#{@etl_item.id}", method: :delete %>

