<h1> Item </h1>

<h3> Name: <%= @product.name %></h3>
<h3> Type: <%= @product.item_type %></h3>
<h3> Make: <%= @product.make %></h3>
<h3> Description: <%= @product.description %></h3>
<img src="<%= @product.image %>"></h3>
<h3> Price($): <%= @product.price %></h3>
<h3> Tax($): <%= @product.tax %></h3>
<h3> Shipping Period(days): <%= @product.shipping_period %></h3>

<h3> Created <%= @product.friendly_created_at %> </h3>
<h3> Updated <%= @product.friendly_updated_at %> </h3>
<button class="btn btn-info"><a href="<%= @product.id %>/edit">Edit</a></button>

<%= button_to "Delete", "/products/#{@product.id}", method: :delete %>

